* {
    margin: 0;
    padding: 0;
    
    
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0; 
  background-color: black;
}

.header  {
    
   display: flex;
    height: 100px;
    /* width: 100%; */
    background-color: #09C0D3
}
 .saludo {
    text-align: center;
    width: 100%;
    align-items: baseline;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
.principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-direction: row;
}

 button {
    position: relative;
    left: 10%;
    align-items: stretch;
    width: 10%;
    padding: 10px;
    margin-top: 15px;
    font-family: cursive;
    background-color: #ffffff;
    font-size: xx-large;
    border-radius: 3%;
}
.resultado{
    height: 50px;
    width: calc(height*2);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.principal .resultado .desicion {
    margin-top: 50px;
    margin-left: 300px;
    padding: 25px;
    background-color: rgb(207, 218, 214);
    color: rgb(5, 5, 5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(margin-top * 2);
    
}
main button img {
  width: 75%; /* Ancho deseado */
   /* Altura deseada */
}


